*{
    margin: 0;
    padding: 0;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* header design */
/* header design */

header{
    max-width: 1600px;
    margin: 0 auto;
}
.nav-bar{
    background-color: #1A0B2E ;
    padding: 0 200px;
    border-bottom: 1px solid #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    height: 2rem;
}
.nav-items{
    display: flex;
    justify-content: center;
    color:#FFFFFF ;
    text-decoration: none;
    gap: 2rem;
    list-style: none;
    margin: 2rem auto;
}
.btn-one{
    padding: 16px 12px;
    gap: 4px;
    border-radius: 999px ;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 1rem;
    font-weight:600 ;
    color: #FFFFFF;
    border: none;
}

/* Banner design */
/* Banner design */

main, .nav-bar{
    max-width: 1600px;
    /* width: 100%; */
    margin: 0 auto;
}
.banner{
    padding: 100px 525px;
    background-image: url(../assets/hero-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    /* max-height: auto; */
    /* max-height:760px; */
}
.banner-container{
    max-width: 550px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.banner-img{
    position: relative;
    animation: breathe 2s ease-in-out infinite;
}

@keyframes breathe{

0%{
    transform: scale(1);
}

50%{
    transform: scale(1.05);
}

100%{
    transform: scale(1);
}

}

.circle {
    max-width: 350px;
    max-height: 350px;
    position: relative;
}
.mic {
    max-width: 116px;
    max-height: 175px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-new{
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #00FF88;
    max-width: 43px;
    border-radius: 999px;
    position: absolute;
    top: 12px;
    right: 23px;
}
.banner-description{
    margin-top: 40px;
}
.banner-heading{
    font-weight: 800;
    font-size: 3.75rem;
    color: #FFFFFF;
}
.banner-p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 8px;
}
.banner-buttons{
    display: flex;
    gap: 8px;
    margin-top: 24px;
    justify-content: center;
}
.btn-two{
    padding: 12px 20px;
    gap: 8px;
    border-radius: 999px ;
    background: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
    font-size: 1rem;
    font-weight:600 ;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
}
.btn-three{
    padding: 12px 20px;
    gap: 8px;
    border-radius: 999px ;
    background: transparent;
    font-size: 1rem;
    font-weight:600 ;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    color:#00FF88 ;
    border: 1px solid #00FF88;
}

/* podcast section design */
/* podcast section design */

.podcast{
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    margin: 0 auto;
}
.pordcast-description{
    margin-top: 50px;
}
.podcast-heading{
    font-size: 3rem;
    font-weight: 700;
    color:#FFFFFF;
    text-align: center;
}
.podcast-text{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    opacity: 80%;
    color:#FFFFFF;
    text-align: center;
}
.card-podcast{
    margin-top: 10rem;
    margin-bottom: 7.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:80px;
    justify-items: center;
    align-items: first baseline;
}
.podcast-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.podcast-cards h2{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.podcast-cards p{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}

/* tech wave podcast design */
/* tech wave podcast design */

.techwave{
    padding: 7.5rem 12.5rem;
    background-color: #230E3D;
}
.techwave-heading{
    font-size: 3rem;
    font-weight: 700;
    color:#FFFFFF;
    margin-bottom: 2.5rem;
    text-align: center;
}
.techwave-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:30px;
    /* align-items: center; */
}
.techwave-card{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px ;
}
.card-icon{
    width: 5rem;
    height: 5rem;
    /* margin-bottom: 16px; */
}
.techwave-card-head{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.techwave-card-text{
    font-size: 1rem ;
    font-weight: 400;
    line-height: 1.5rem;
    opacity: 60%;
    color: #FFFFFF;
    margin-top: 1rem;
}
.grid-colspan-2{
    grid-column: span 2;
    grid-row: span 1;
}

.grid-rowspan-2{
    grid-column: span 1;
    grid-row: span 2;
}
.grid-normal{
    grid-column: span 1;
    grid-row: span 1;
}

/* featured episodes design */
/* featured episodes design */

.featured-host{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem 12.5rem;
    background-color: #1A0B2E;
}
.featured-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured-heading{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
.feaured-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 2.5rem;
}
.featured-card{
    max-width: 380px;
    background-color: #250D44;
    border-radius: 1.5rem;
    transition: transform 0.3s ease 0s ;
}
.featured-card:hover{
    transform: translateY(-10px);
}
iframe{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.featued-description{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    /* align-items: center; */
}
.featured-card-heading{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.features-card-text{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 60%;
    /* margin-top: .75rem; */
}
.featued-time{
    /* margin-top: .75rem; */
    display: flex;
    gap: .5rem;
}
.featured-time-text{
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
}
.featured-icon{
    width: 1.25rem;
    height: 1.25rem;
}

/* meet the host design - challenge part */
/* meet the host design - challenge part */
/* meet the host design - challenge part */

.host-heading{
    margin-top: 7.5rem;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
.host{
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    padding: 2.5rem;
    gap: 1.5rem;
    align-items: center;
    border-radius: 2.5rem;
    animation: breathe2 3s ease-in-out infinite;
}
@keyframes breathe2{

0%{
    transform: scale(1);
}

50%{
    transform: scale(1.02);
}

100%{
    transform: scale(1);
}

}
/* .host:hover{
    transform: translateY(-10px);
} */
.host-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.host-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.host-name{
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}
.host-description{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 60%;
    line-height: 1.5rem;
}
.host-links{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.host-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* width: 2.5rem; */
    border: 1px solid #533C72;
    border-radius: 999px;
}
.host-icon{
    /* width: 1.25rem; */
    object-fit: contain;
}

/* footer design */
/* footer design */

footer{
    margin: 0 auto;
    max-width: 1600px;
}
.ff{
    background-image: url(../assets/footer-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 120px;
    display: flex;
    justify-content: center;
}
.footer-container{
    max-width: 1360px;
    gap:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer-img{
    max-width: 410px;
    max-height: 60px;
}
.footer-links{
    display: flex;
    gap: 2.5rem;
    max-width: 544px;
}
.footer-link{
    display: flex;
    gap:.5rem;
}
.footer-link-text{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 60%;
}
.copyright{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 60%;
}

.hamburger{
    display: none;
}





/* responsive code styles */
/* responsive code styles */
/* responsive code styles */
/* responsive code styles */
/* responsive code styles */
/* responsive code styles */


@media screen and (min-width: 576px) and (max-width: 992px){



/* navbar medium design */

.nav-bar{
    background-color: #1A0B2E ;
    padding: 0 40px;
}

/* banner medium design */

.banner{
    padding: 50px 20px ;
}
.banner-container{
    margin: 0 auto;
    max-width: 450px; 
}

/* podcast medium design */

.podcast{
    padding: 0 120px;
    margin: 0 auto;
}
.card-podcast{
    margin-top: 5rem;
    margin-bottom: 7.5rem;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
}

/* techwave medium design */

.techwave{
    padding: 4rem 5rem;
}
.techwave-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.grid-colspan-2, .grid-rowspan-2, .grid-normal{
    grid-column: span 1;
    grid-row: span 1;
}
.grid-colsapn-2-medium{
    grid-column: span 2;
    grid-row: span 1 ;
}
.grid-rowspan-2-medium{
    grid-column: span 1;
    grid-row: span 2;
}
.grid-normal-medium{
    grid-column: span 1;
    grid-row: span 1;
} 
.techwave-card{
    padding: 1.5rem;
    border-radius: 24px;
}

/* featured host medium design */

.featured-host{
    padding: 2.5rem 3rem;
    background-color: #1A0B2E;
}
.featured-heading{
    font-size: 2rem;
}

.feaured-cards{
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}
.featued-description{
    padding: 1rem;
    gap: 1rem;
}
.featured-card-heading{
    font-size: 1.2rem;
}
.host{
    padding: 3rem;
    flex-direction: column;
}
.host-info{
    align-items: center;
    text-align: center;
}

/* footer medium design */

.ff{
    padding: 75px 20px 20px;
}
.footer-container{
    gap: 1.5rem;
}
.footer-img{
    width: 300px;
    height: 45px;
}
.footer-links{
    gap: 1rem;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
}
.copyright{
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

}





@media screen and (max-width: 576px){



/* navbar small design */

nav{
    display: none;
}
.nav-bar{
    background-color: #1A0B2E;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.btn-one{
    display: none;
}
.hamburger{
    display: block;
}
.hamburger img{
    width: 18px;
    height: 14px;
}

/* banner small design */

.banner{
    padding: 60px 20px ;
    /* max-height:466px; */
    /* max-width: 576px; */
    /* background-size: 150%; */
    /* padding: 100px 525px; */
    /* background-image: url(../assets/Image.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto; */
    /* max-height: auto; */
    /* max-height:px; */

}
.banner-container{
    margin: 0 auto;
    max-width: 524px; 
}
.circle {
    width: 300px;
    height: 300px;
}
.mic {
    width: 77px;
    height: 120px; 
}
.banner-description{
    max-width: 400px;
}
.pordcast-description{
    margin-top: 40px;
}

/* podcast small design */

.podcast{
    padding: 0 20px;
}
.podcast-heading{
    font-size: 2rem;
}
.podcast-text{
    line-height: auto;
}
.card-podcast{
    margin-top: 5rem;
    margin-bottom: 7.5rem;
    grid-template-columns: repeat(2,1fr);
    gap:40px;
}
.podcast-cards h2{
    font-size: 2.5rem;
}

/* techwave small design */

.techwave{
    padding: 2.5rem 1.25rem;
}
.techwave-card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
.grid-colspan-2{
    grid-column: span 1;
    grid-row: span 1;
}

.grid-rowspan-2{
    grid-column: span 1;
    grid-row: span 1;
}
.grid-normal{
    grid-column: span 1;
    grid-row: span 1;
} 
.techwave-card{
    padding: 1.5rem;
    border-radius: 24px;
}

/* featured host small design */

.featured-host{
    padding: 2.5rem 2rem;
    background-color: #1A0B2E;
}
.featured-heading{
    font-size: 2rem;
}
.feaured-cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}
.featued-description{
    padding: 1rem;
    gap: .5rem;
}
.featured-card-heading{
    font-size: 1.25rem;
}
.host-heading{
    margin-top: 4.75rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.host{
    padding: 1.5rem;
    flex-direction: column;
}
.host-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.host-info{
    align-items: center;
}
.host-name{
    font-size: 1.5rem;
}
.host-description{
    text-align: center;
    line-height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* footer small design */

.ff{
    padding: 40px 20px;
}
.footer-container{
    gap: 1.5rem;
}
.footer-img{
    width: 219px;
    height: 32px;
}
.footer-links{
    gap: 1rem;
    width: 255px;
    flex-wrap: wrap;
    justify-content: center;
}
.copyright{
    line-height: 1.5rem;
}

}




